/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.centreLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
}

  /*
.custom-btn {

  background-color: #0beff4;
  color: black;
  */

.custom-nav {
  margin-right: 20px;
}
